<div class="toolbar">
    <ul class="list list-unstyled list-inline">
        <li><a title="Add line" ng-click="$ctrl.drawer.addLine()"><i class="fa fa-minus fa-2x" aria-hidden="true"></i></a></li>
        <li><a title="Add circle" ng-click="$ctrl.drawer.addCircle()"><i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i></a></li>
        <li><a title="Add rectangle" ng-click="$ctrl.drawer.addRect()"><i class="fa fa-square-o fa-2x" aria-hidden="true"></i></a></li>
        <li><a title="Add text" ng-click="$ctrl.drawer.addText()"><i class="fa fa-font fa-2x" aria-hidden="true"></i></a></li>
    </ul>
</div>