.toolbar {
    width: 600px;
    margin: 0px auto;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.toolbar ul {
    margin-bottom: 0px;
}

.toolbar ul li {
    cursor: pointer;
}